body {
  background-color: white;
  margin: 0;
}

h1 {
  font-size: 30px;
  font-family: "Sacramento", cursive;
}
p {
  font-family: "Montserrat", sans-serif;
}
h2 {
  font-family: "Montserrat", sans-serif;
}
h6 {
  font-family: "Montserrat", sans-serif;
}
